.temp_section
{
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .temp_logo
    {
        img
        {
            width: 100%;
        }
    }
    
    .temp_text
    {
        text-align: center;
        h1 
        {
            color: white;
            font-size: 5vw;
            margin: 1vh 0;
            font-weight: bold;
        }
        p
        {
            color: white;
            font-size: 1.5vw;
            margin: 1vh 0;
        }
    }
}