//Brand Colors
$blue: #0063C9;
$white: #FFFFFF;
//CASE STUDY SECTION
.caseStudyArchiveSection
{
    padding: 0vh 7vw;
    padding-top: 17vh;
    padding-bottom: 5vh;
    background-color: $white;
    color: $blue;
    text-align: center;
    h2 
    {
        font-weight: bold !important;
    }
    .caseStudyCards
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-gap: 1em;
        h3
        {
            color: $blue;
            font-weight: bold !important;
            margin: 0;
        }
        p
        {
            color: black;
            padding-bottom: 2vh;
            line-height: 1.45em;
        }
        .caseStudyCard
        {
            border: 0.15rem solid $blue;
        }
        div
        {
            background-color: $white;
            padding: 2.5vh 2vw;
            .caseStudyExerptText
            {
                padding: 2.5vh 0;
            }
        }
    }
}
.singlePost
{
    padding: 0vh 7vw;
    padding-top: 17vh;
    padding-bottom: 5vh;
    h2
    {
        font-weight: bold !important;
        color: #0063C9 !important;
    }
    h1
    {
        font-weight: bold !important;
        color: #0063C9 !important;
    }
    p
    {
        line-height: 1.45em;
    }
    figure
    {
        text-align: center;
        img
        {
            width: 100%;
            height: auto;
        }
    }
    label
    {
        color: #0063C9 !important;
    }
}
////////////
//RESPONSIVE
@media (max-width: 990px)
{
    .caseStudyArchiveSection
    {
        text-align: center;
        .caseStudyCards
        {
            grid-template-columns: 100% !important;
            div
            {
                padding: 2.5vh 4vw;
                .caseStudyExerptText
                {
                    text-align: left;
                }
            }
        }
    }
}