//Brand Colors
$blue: #0063C9;
$white: #FFFFFF;
//Header
.navbar
{
    background-color: $blue;
    display: flex;
    padding: 1.25vh 0vw;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
    .toggleButton
    {
        display: none;
    }
    .navbarLinks
    {
        ul 
        {
            display: flex;
            flex-direction: row;
            li
            {
                list-style: none;
                padding: 1vh 1vw;
                a
                {
                    color: $white;
                    text-decoration: none;
                    transition: opacity 0.2s ease-in-out;
                }
                a:hover
                {
                    opacity: 0.75;
                }
            }
        }
    }
}
//RESPONSIVE FUNCTIONALITY
@media (max-width: 1199px)
{
    .navbar
    {
        position: fixed;
        justify-content: space-around;
        .toggleButton
        {
            display: block;
            z-index: 10;
            top:0;
            right: 0;
        }
        .navbarLinks
        {
            display: block;
            z-index: 7;
            position: absolute;
            width: 100%;
            left: 0;
            top:0;
            height: 100vh;
            background-color: $blue;
            transform: translateX(100vw);
            transition: transform 0.5s ease-in-out;
            ul
            {
                margin: 0;
                padding: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                li 
                {
                    padding: 3vh 1vw;
                    a
                    {
                        border-bottom: 0.007em solid white;
                    }
                    .dropDownItems
                    {
                        display: none;
                        padding: 0 0 1em 1em;
                        position: relative;
                        text-align: start;
                        align-items: start;
                        transition: transform 0.5s ease-in-out;
                        a
                        {
                            padding: 0.5em 0;
                            border-bottom: 0.007em solid white;
                        }
                    }
                }
                .activeMenu
                {
                    display: flex !important;
                }
            }
        }
        .active
        {
            transform: translateX(0vw);
        }
    }
}
.hideOrShow
{
    overflow-y: hidden;
}

//DESKTOP
@media (min-width: 1200px)
{
    //Header
    .navbar
    {
        .navbarLinks
        {
            ul 
            {
                li
                {
                    .dropDownItems
                    {
                        display: none;
                        flex-direction: column;
                        position: absolute;
                        background-color: #0063C9;
                        text-align: start;
                        padding: 1em 1em 1em 1em;
                        a
                        {
                            padding: 0.5em 0;
                            cursor: pointer;
                            border-bottom: 0.007em solid white;
                        }
                    }
                }
                li.dropDownMenu:hover > .dropDownItems
                {
                    display: flex;
                }
            }
        }
}
}