.heroSection
{
    background-image: url("/wp-content/themes/reachbeyond-wp-template/assets/images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 7vw;
    div
    {
        color: white;
    }
    .callToAction
    {
        display: flex;
        justify-content: start;
        span
        {
            padding: 0.5rem;
        }
    }
}