//Brand Colors
$blue: #0063C9;
$white: #FFFFFF;
//HERO SECTION
.heroSection
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 7vw;
    div
    {
        color: white;
    }
    .callToAction
    {
        display: flex;
        justify-content: start;
        span
        {
            padding: 0.5rem;
        }
    }
}
//WHO WE ARE SECTION
.whoWeAreSection
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 4vh 7vw;
    div
    {
        h2
        {
            font-weight: bold !important;
            color: $blue;
        }
        .callToActionDiv
        {
            padding: 2vh 0;
        }
        p
        {
            line-height: 1.45em;
        }
    }
    .servicesIcons
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .iconBlock
        {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            div
            {
                padding: 2vh 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                text-align: center;
                p
                {
                    color: $blue;
                    font-weight: bold;
                }
            }
        }
    }
}
//WHAT WE DO SECTION
.whatWeDoSection
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 4vh 7vw;
    grid-gap: 2rem;
    div.imagesDiv
    {
        text-align: center;
    }
    div
    {
        h2
        {
            font-weight: bold !important;
            color: $blue;
        }
        .callToActionDiv
        {
            padding: 2vh 0;
        }
        p
        {
            line-height: 1.45em;
        }
    }
}
//CASE STUDY SECTION
.caseStudySection
{
    padding: 4vh 7vw;
    background-color: $blue;
    color: $white;
    text-align: center;
    h2 
    {
        font-weight: bold !important;
    }
    .caseStudyCards
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        justify-items: center;
        h3
        {
            color: $blue;
            font-weight: bold !important;
            margin: 0;
        }
        p
        {
            color: black;
            padding-bottom: 2vh;
            line-height: 1.45em;
        }
        div
        {
            background-color: $white;
            padding: 2.5vh 2vw;
            .caseStudyExerptText
            {
                padding: 2.5vh 0;
            }
        }
    }
}
//CLIENT LOGO'S SECTION
.clientLogoSection
{
    text-align: center;
    padding: 5vh 7vw;
    h2
    {
        font-weight: bold !important;
        color: $blue;
    }
    .clientLogos
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        .imageLogo
        {
            justify-content: center;
            .logo
            {
                width: 100%;
                height: auto;
                max-width: 150px;
            }
        }
    }

}

//CONTACT CTA
.contactCTA
{
    padding: 4vh 7vw;
    background-color: $blue;
    color: $white;
    grid-template-columns: 100%;
    text-align: center;
    div
    {
        h2
        {
            font-weight: bold !important;
        }
    }
}
//Contact Form
.rb_contact_form
{
    form
    {
        .wpforms-field-container
        {
            div
            {
                input
                {
                    background-color: white !important;
                    max-width: 100% !important;
                    border: 1px solid white !important;
                    border-radius: 0 !important;
                }
            }
            div:nth-child(3)
            {
                input
                {
                    background-color: white !important;
                    max-width: 100% !important;
                    border: 1px solid white !important;
                    border-radius: 0 !important;
                }
            }
            div
            {
                textarea
                {
                    background-color: white !important;
                    max-width: 100% !important;
                    border: 1px solid white !important;
                    border-radius: 0;
                }
            }
        }
        .wpforms-submit-container
        {
            .rb_contact_submit
            {
                background-color: #0063C9 !important;
                color: white !important;
                border: 1px solid white !important;
                border-radius: 0;
                transition: opacity 0.2s ease-in-out;
            }
            .rb_contact_submit:hover
            {
                opacity: 0.7;
            }
        }
    }
}
//FORM 2
//Contact Form
.rb_contact_form2
{
    form
    {
        .wpforms-field-container
        {
            div
            {
                input
                {
                    background-color: white !important;
                    max-width: 100% !important;
                    border: 1px solid #0063C9 !important;
                    border-radius: 0 !important;
                }
            }
            div:nth-child(3)
            {
                input
                {
                    background-color: white !important;
                    max-width: 100% !important;
                    border: 1px solid #0063C9 !important;
                    border-radius: 0 !important;
                }
            }
            div
            {
                textarea
                {
                    background-color: white !important;
                    max-width: 100% !important;
                    border: 1px solid #0063C9 !important;
                    border-radius: 0;
                }
            }
        }
        .wpforms-submit-container
        {
            .rb_contact_submit2
            {
                background-color: #0063C9 !important;
                color: white !important;
                border: 1px solid #0063C9 !important;
                border-radius: 0;
            }
        }
    }
}
//
//
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4vh 7vw 0 7vw;
    justify-items: center;
    align-items: center;
    .logoImageDiv
    {
        justify-self: start;
    }
    .logoBottom
    {
        max-width: 150px;
    }
    .footerText
    {
        p 
        {
            color: $blue !important;
            margin: 0;
            padding: 0.25em 0 0.5em 0;

        }
        a
        {
            text-decoration: underline;
        }
        
    }
    .footerLinks
    {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        justify-self: end;
        h2 
        {
            color: $blue;
            font-weight: bold !important;
        }
        div
        {
            display: flex;
            flex-direction: column;
            a 
            {
                cursor: pointer;
                padding: 0.5vh 0;
                color: black !important;
                color: $blue !important;
            }
            a:hover
            {
                color: $blue !important;
                text-decoration: underline;
            }
        }
    }
}
footer
{
    .bottomNote
    {
        display: flex;
        justify-content: center;
        padding: 1vh 7vw;
        background-color: #0063C9;
        color: white;

        p
        {
            a 
            {
                color: white !important;
                text-decoration: underline;
            }
        }
    }
}



////////////
//RESPONSIVE
@media (max-width: 990px)
{
    .whoWeAreSection
    {
        grid-template-columns: 100%;
        text-align: center;
        grid-gap: 1.5rem;
        .servicesIcons
        {
            grid-template-columns: 50% 50%;
            grid-gap: 0;
            .iconBlock
            {
                border: none;
            }
        }
    }
    .whatWeDoSection
    {
        grid-template-columns: 100%;
        text-align: center;
    }
    .caseStudySection
    {
        text-align: center;
        .caseStudyCards
        {
            grid-template-columns: 100% !important;
            div
            {
                padding: 2.5vh 4vw;
                .caseStudyExerptText
                {
                    text-align: left;
                }
            }
        }
    }
    .footer
    {
        display: flex;
        flex-direction: column;
        div:nth-child(2)
        {
            padding-bottom: 1em;
        }
        div
        {
            text-align: center;
        }
        .footerLinks
        {
            text-align: center;
        }
    }
}

@media (min-width: 991px)
{
    .heroSection
    {
        div
        {
            p 
            {
                font-size: 2em !important;
            }
        }
    }
}