//Brand Colors
$blue: #0063C9;
$white: #FFFFFF;
//
.servicesBlocksSection
{
    display: grid;
    grid-template-columns: 50% 50%;
    .serviceBlock
    {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 500px;
        max-height: 500px;
        width: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 0 7vw; 
        color: $white;
        h2
        {
            font-weight: bold !important;
        }
    }
}
////////////
//RESPONSIVE
@media (max-width: 990px)
{
    .servicesBlocksSection
    {
        grid-template-columns: 100%;
    }
}